body {
  background-color: #ccc;
}

//Tag Selector
img {
  border: 2px solid black;
}

//Class Selector
.tutorial {
  border: 1px solid black;
}

//ID Selector
#tutorial-1 {
  background-color: #ddf;
}

//Attribute Selector
img[src="https://via.placeholder.com/100"]
{
  border: 4px solid blue;
}

//Multiple Selectors
h1,
h2 {
  color: #39f;
}

//Combinators
.tutorial {
  > p {
    font-size: 1.5rem;
  }
}
